{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <section>
        <h1>Les conférences !</h1>
        {% for conference in conferences %}
            <article>
                <a href="/show/{{ conference.id }}">{{ conference }}</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
