{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h1>Give your feedback !</h1>
    <ul>
    {% for conference in conferences %}
        <li><a href="/show/{{ conference.id }}">{{ conference }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
